@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye.css');

    
.container {
    position: absolute;
    padding: 100px;
    margin: auto;
    border-radius: 10%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: violet;
  }

.input {
    display: block;
    margin-bottom: 10px;
    text-align: center;

}


.button {
    display: block;
    margin-bottom: 10px;
}
