@import url('https://unpkg.com/css.gg@2.0.0/icons/css/eye.css');

    
.container {
    width: 300px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background: linear-gradient(to bottom, blue ,navy);
    padding: 50px;
    border-radius: 10%;

  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
