*{
    background-color: brown;
}


.container {
    margin: 20px;
    padding: 20px;
    background-color: blueviolet;
    display: flex;
    

}

.container input {
    background-color: white;
    color:white;
    margin: 20px;
    padding: 10px;
    position: relative;
    display: flex;
}

.container button {
    background-color: azure;
}